<section class="kode_latest_wrk_bg">
  <div class="container">
    <div class="kode_hdg_1">
      <h4>Kohtaamisia</h4>
    </div>

    <% if @locations.count < 1 || @encounters.count < 1 %>
      <h4 style="text-align:center;">Woops, ei kohtaamisia :(</h4>
     </div>
    <% else %>
        <div class="kode_latest_galry">
          <ul class="kode_tab_lnk filter-item" id="filterable-item-filter-1">
            <li><a data-value="all" href="#">Kaikki</a></li>
            <% @locations.each do  |l|  %>
                <li><a data-value="<%= l.id %>" href="#"><%= l.name %></a></li>
            <% end %>
          </ul>
        </div>
      </div>

      <!--Gallery List Wrap Start-->
      <div id="filterable-item-holder-1" class="filterable_container">
      <% @encounters.each do  |e|  %>
            <div class="home_gallery filterable-item all <%= e.location_id %>">
              <div class="kode_galry_item">
                <figure>
                  <img src="<%= e.picture.url(:medium) %>" alt="<%= e.title %>">
                  <figcaption>
                    <a data-rel="prettyPhoto[]" href="<%= e.picture.url %>"><i class="icon-add52"></i></a>
                  </figcaption>
                </figure>
                <div class="kode_galry_des">
                  <p><%= e.location.name %> </p>
                  <h6><%= e.title %></h6>
                </div>
              </div>
            </div>
      <% end %>
      </div>
    <% end %>
</section>