<section class="kode_politician_bg">
  <div class="container">

    <div class="kode_hdg_1">
      <h6>Mitä, missä ja</h6>
      <h4>Milloin?</h4>
    </div>
    <% if @events.present? %>
    <ul class="kode_camp_outr_wrap">
      <% index = 1 %>
      <% @events.each do  |event|  %>
          <li class="row">
            <div class="kode_campagin_lst">
              <div class="<%= index % 2 != 0 ? 'kode_campgn_lst1' : 'kode_campgn_lst2'%>">
                <div class="kode_cam_date col-xs-12">
                  <h4><%= event.date.day %></h4>
                  <h6><%= event.get_month %></h6>
                </div>

                <div class="kode_lst1_des col-xs-12">
                  <h6><%= event.name %></h6>
                  <ul>
                    <li><i class="fa fa-clock-o"></i><%= '%02d' % event.time.hour + ':' + '%02d' % event.time.min %></li>
                    <li><i class="fa fa-map-marker"></i><%= event.location %></li>
                  </ul>
                  <p><%= event.description %></p>

                </div>
              </div>
            </div>
          </li>
          <% index = index + 1 %>
      <% end %>
    </ul>
    <% else %>
      <h4 style="text-align:center;">Ei tapahtumia!</h4>
    <% end %>
  </div>
</section>