<div class="col-md-3">
  <div class="kode_widgt_event widget_hdg">
    <h5>Tapahtumat</h5>
    <% if @events_footer.count < 1 %>
        <h6 style="text-align: center;">Woops, ei tapahtumia :(</h6>
    <% else %>
      <ul>
        <% @events_footer.each do |e| %>
            <li>
              <figure>
                <a href="/tapahtumat/<%= e.id %>"><img src="<%= e.picture.url(:thumb) %>" alt="<%= e.name %>"></a>
              </figure>
              <div class="kode_foo_event_des">
                <a href="/tapahtumat/<%= e.id %>"><%= e.description %></a>
                <span><%= e.date.day %>.<%= e.date.month %> klo <%= '%02d' % e.time.hour + ':' + '%02d' % e.time.min %> <%= e.location %></span>
              </div>
            </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>